### 1. Import libraries and data set

In [92]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

path = r'/Users/jakubkondelka/Documents/JK_USkillings'

#import
df_orig = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'USkilling.csv'), index_col = False, low_memory=False)

In [93]:
pd.set_option('display.max_columns', 500)

### 2. Basic understanding of the dataset

In [94]:
df_orig.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,Crime Solved,Victim Sex,Victim Age,Victim Race,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,Yes,Male,14,Native American/Alaska Native,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,Yes,Male,43,White,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [95]:
# find out data types

df_orig.dtypes

Record ID                 int64
Agency Code              object
Agency Name              object
Agency Type              object
City                     object
State                    object
Year                      int64
Month                    object
Incident                  int64
Crime Type               object
Crime Solved             object
Victim Sex               object
Victim Age                int64
Victim Race              object
Victim Ethnicity         object
Perpetrator Sex          object
Perpetrator Age          object
Perpetrator Race         object
Perpetrator Ethnicity    object
Relationship             object
Weapon                   object
Victim Count              int64
Perpetrator Count         int64
Record Source            object
dtype: object

In [96]:
# convert Perpetrator Age to int

df_orig['Perpetrator Age'] = pd.to_numeric(df_orig['Perpetrator Age'], errors='coerce')

In [97]:
df_orig.dtypes

Record ID                  int64
Agency Code               object
Agency Name               object
Agency Type               object
City                      object
State                     object
Year                       int64
Month                     object
Incident                   int64
Crime Type                object
Crime Solved              object
Victim Sex                object
Victim Age                 int64
Victim Race               object
Victim Ethnicity          object
Perpetrator Sex           object
Perpetrator Age          float64
Perpetrator Race          object
Perpetrator Ethnicity     object
Relationship              object
Weapon                    object
Victim Count               int64
Perpetrator Count          int64
Record Source             object
dtype: object

In [98]:
df_orig.shape

(638454, 24)

In [99]:
df_orig.describe()

,Record ID,Year,Incident,Victim Age,Perpetrator Age,Victim Count,Perpetrator Count
count,638454.00000,638454.000000,638454.000000,638454.000000,638453.000000,638454.000000,638454.000000
mean,319227.50000,1995.801102,22.967924,35.033512,20.322697,0.123334,0.185224
std,184305.93872,9.927693,92.149821,41.628306,17.886842,0.537733,0.585496
min,1.00000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,159614.25000,1987.000000,1.000000,22.000000,0.000000,0.000000,0.000000
50%,319227.50000,1995.000000,2.000000,30.000000,21.000000,0.000000,0.000000
75%,478840.75000,2004.000000,10.000000,42.000000,31.000000,0.000000,0.000000
max,638454.00000,2014.000000,999.000000,998.000000,99.000000,10.000000,10.000000

In [114]:
# find out medians - out of curiosity
df_orig[['Incident', 'Victim Age', 'Perpetrator Age']].median()

Incident            2.0
Victim Age         30.0
Perpetrator Age    21.0
dtype: float64

In [100]:
#count all values - there are 638,454 rows. 

df_orig.count()

Record ID                638454
Agency Code              638454
Agency Name              638454
Agency Type              638454
City                     638454
State                    638454
Year                     638454
Month                    638454
Incident                 638454
Crime Type               638454
Crime Solved             638454
Victim Sex               638454
Victim Age               638454
Victim Race              638454
Victim Ethnicity         638454
Perpetrator Sex          638454
Perpetrator Age          638453
Perpetrator Race         638454
Perpetrator Ethnicity    638454
Relationship             638454
Weapon                   638454
Victim Count             638454
Perpetrator Count        638454
Record Source            638454
dtype: int64

### 3. Data wrangling

In [1]:
# Finding and dealing with missing values

df_orig.isnull().sum()

NameError: name 'df_orig' is not defined

In [102]:
# since it is 1 row, it will be deleted 

df_orig.dropna(inplace = True)

In [103]:
# double check for emtpy rows

df_orig.isnull().sum()

Record ID                0
Agency Code              0
Agency Name              0
Agency Type              0
City                     0
State                    0
Year                     0
Month                    0
Incident                 0
Crime Type               0
Crime Solved             0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Age          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship             0
Weapon                   0
Victim Count             0
Perpetrator Count        0
Record Source            0
dtype: int64

In [104]:
df_orig.shape

(638453, 24)

In [105]:
# Dealing with duplicates
df_dups = df_orig[df_orig.duplicated()]

In [106]:
df_dups.head()

Empty DataFrame
Columns: [Record ID, Agency Code, Agency Name, Agency Type, City, State, Year, Month, Incident, Crime Type, Crime Solved, Victim Sex, Victim Age, Victim Race, Victim Ethnicity, Perpetrator Sex, Perpetrator Age, Perpetrator Race, Perpetrator Ethnicity, Relationship, Weapon, Victim Count, Perpetrator Count, Record Source]
Index: []

In [108]:
# no duplicates found

In [120]:
# Delete unnecessary columns - Agency Code and Record Source
df_orig.drop(columns = ['Record Source'])
df_orig.drop(columns = ['Agency Code'])

,Record ID,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,Crime Solved,Victim Sex,Victim Age,Victim Race,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,Yes,Male,14,Native American/Alaska Native,Unknown,Male,15.0,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Unknown,Male,42.0,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,Unknown,Unknown,0.0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,Yes,Male,43,White,Unknown,Male,42.0,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,No,Female,30,Native American/Alaska Native,Unknown,Unknown,0.0,Unknown,Unknown,Unknown,Unknown,0,1,FBI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,638450,Park County,Sheriff,Park,Wyoming,2014,January,1,Murder or Manslaughter,No,Male,30,White,Hispanic,Unknown,0.0,Unknown,Unknown,Unknown,Handgun,0,0,FBI
638450,638451,Sheridan County,Sheriff,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,Yes,Male,62,White,Unknown,Male,57.0,White,Unknown,Acquaintance,Handgun,0,0,FBI
638451,638452,Sheridan,Municipal Police,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,Asian/Pacific Islander,Unknown,Female,22.0,Asian/Pacific Islander,Unknown,Daughter,Suffocation,0,0,FBI
638452,638453,Sublette County,Sheriff,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,Yes,Male,55,White,Not Hispanic,Male,31.0,White,Not Hispanic,Stranger,Knife,0,1,FBI
638453,638454,Rock Springs,Municipal Police,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,Yes,Female,0,White,Not Hispanic,Female,24.0,White,Not Hispanic,Daughter,Blunt Object,0,1,FBI

### 4. Export clean data

In [121]:
# Export data to pkl
df_orig.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'USkillings_initcleaned.pkl'))

In [122]:
# count how many unknown (0) age are contaioned within Perpetrator Age column
df_orig['Perpetrator Age'].value_counts()[0]

216327

In [125]:
# count how many victims with unreported age are present in the data set
df_orig['Victim Age'].value_counts()[998]

974

In [126]:
df_orig['Perpetrator Ethnicity'].value_counts()['Unknown']

446409